<div class="login">
  <form nz-form nzLayout="vertical" #f="ngForm" (submit)="submit()">
    <nz-form-item>
      <nz-form-label nzFor="username">Username</nz-form-label>
      <nz-form-control [nzErrorTip]="usernameTpl">
          <input class="ant-input" type="text" name="username" id="username" #username="ngModel" [(ngModel)]="model.username" required>
          <ng-template #usernameTpl let-control>
            <ng-container *ngIf="control.hasError('required')">Le nom d'utilisateur est requis</ng-container>
          </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="password">Mot de passe</nz-form-label>
      <nz-form-control [nzErrorTip]="passwordTpl">
          <input class="ant-input" type="password" name="password" id="password" #password="ngModel" [(ngModel)]="model.password" required>
          <ng-template #passwordTpl let-control>
            <ng-container *ngIf="control.hasError('required')">Le mot de passe est requis</ng-container>
          </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button class="login-button" type="submit" nz-button nzType="default" [disabled]="f.form.invalid"
          (submit)="submit()">Connexion</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <p class="divider">Pas encore enregistré ?</p>

  <button class="register-button" nz-button nzType="primary" (click)="goToRegistration()">Créer un compte</button>
</div>
